@charset "utf-8";
/* CSS Document */

		p 			{color:black;
					font-size:20px;
					font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
					line-height:30px;
					}
		
		h2 			{color:#9eb2db;
					font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
					line-height:30px;
					font-size:35px;}

		h3 			{color:black;
					font-size:25px;
					font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
					line-height:30px;
		
}


		h1 			{color:#7f9aca;
					font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
					line-height:30px;
					text-align: center;
					font-size:40px;}


		body {
   					 margin: 0;
    				padding: 0;
  					  color: #2a2a2a;
   					 background: #edd8ca;
   						 font-family: verdana, helvetica, arial, sans-serif; /* replace with your choice of font-family list from Dreamweaver */
   					 font-size: 18px;
    				line-height: 150%;  /* adjust as needed */}

		
		a:link 		{color:orange; 
					text-decoration:underline;}


		a:hover 	{text-decoration:none;
			color:red;
				}


		a:visited 	{color:orangered;}

		
		.wrapper 	{background: white;
			  	 	width: 1000px;
					margin-left: auto;
					margin-right:auto;
					padding: 20px 40px; }
		
		.site-header{background:#cad9ee;
					width:1000px;
					text-align:center;}
		
		.page-header {background:white;
			text-align: center;
				 }
		
		border    	{margin:0;
					padding:0;
					color:black;
					background:#C0C4C5;
					font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
					font-size:20px;
					line-height:150%;}

		table,th,td {border:1px solid;
					width:100;
					border-collapse:collapse;}

		tr:hover {background-color:#D8DBDB;}
		
		td 			{width:15%;
					height:40px;
					text-align:center;}
	
		th 
				{background-color:#ccdbec;
text-align:left;}

		images 
				{text-align:center;}
		.profile p {
			font-size: small;
		}
  		.gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }

     .sitenav {
	     display: grid;
	     grid-template-columns: repeat(6, 1fr);
	     grid-row-gap: 0px;
	     justify-items: start;
	     align-items: center;
	     justify-content: space-between;
	     background:#DFEBF8;
	  }
		
	.sitenav a {
	     justify-self: center;
	     color: #515B66;
	     background:#DFEBF8;	
	     text-decoration: none;
	     border-radius: 20px;
		border:1px solid;
	     padding: 0px 28px;
	
	  }

	.sitenav a:hover {
	     color: #7f9aca;
	     background: #BCD5F0;	
	  }
i{color: #84b5f7;}
.method-key { font-size:70%}

.method-key i:first-child {
	margin-left:0;
}

.page-header {
	background:#edd8ca;
	color:white;}
.page-header a {text-decoration:none;}
.page-header a:hover {color:white;}
.page-header a {color:orange;}
}
